body {
  
  font-family: STKaiti,"Century Gothic", 'Lato';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

a {
  text-decoration: none;
}

.container {
  width: calc(100% - 2* var(--container-margin-x));
  margin-left: auto;
  margin-right: auto;
}

.hyperlink {
  text-decoration: underline;
  color: rgb(35, 159, 237);
}
        
.hero {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.hero-img img {
  width: 100%;
  height: 10%;
  display: block;
  margin: 0 auto;
}

.rounded-circle {
  max-width: 65vw; 
  max-height: 45vh;
  ;
}



.et-hero-tabs,

.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}

.et-hero-tabs h1 {
  font-size: 0.6rem;
  margin: 0;
  opacity: 0.9;

}

.no-wrap {
  white-space: nowrap;
  
}

h3 {
  font-size: 0.8rem;
  opacity: 0.6;
}
.h3 {
  font-size: 1rem;
  opacity: 0.7;
}
.h3-right{
  font-size: 1rem;
  opacity: 0.7;
  padding-left: 1vw;
}
.et-hero-tabs-container { /* top bar */
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}

.et-hero-tabs-container.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

.et-hero-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  transition: left 0.3s ease;
}

.img-fluid{
  max-height: 55vh;
  /* padding-top: 2.3rem; */
  padding-bottom: 4vh;
}

.et-slide{
  background: #fff;
  box-shadow:         3px 3px 5px 6px #ccc;
  border-radius:4%;
  padding-bottom: 2.3rem;


}



@media (max-width: 1500px) {
  .et-hero-tabs h1 {
      font-size: 2rem;
  }
  .et-hero-tabs h3 {
      font-size: 1rem;
  }
  .et-hero-tab {
      font-size: 1rem;
  }
}